{% extends "::base.html.twig" %}

{% block title %}sample{% endblock %}

{% block body %}
    <h1>sample</h1>

    <ul>
        <li>
            <a href="{{ path('systemuser_new') }}">登録</a>
        </li>
    </ul>
{% endblock %}