{% extends "::base.html.twig" %}

{% block title %}ユーザ情報　新規作成完了{% endblock %}

{% block body %}
    <h1>ユーザ情報　新規作成完了</h1>

    <ul>
        <li>
            <a href="{{ path('systemuser_new') }}">登録</a>
        </li>
    </ul>
{% endblock %}
